.cont {
    background-color: #efefef;
    padding: 2em;
    text-align: center;
    height: 40em;
}

.cont1 {
    margin-bottom: 5em;
}

.cont1 h3 {
    margin: 0;
}

.cont1 p {
    margin-top: 10px;
}



form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 730px;
    margin: auto;
}

.cont2 {
    display: flex;
    gap: 8%;
    margin-bottom: 1em;
    max-width: 705px;

}

label {
    font-weight: bold;
}

.cont3 {
    width: 100%;
}

input {
    width: 100%;
    padding: 1em ;
    border-radius: 10px;
    border: 1px solid #454545;
    background-color: #efefef;
    color: #454545;
}

input::placeholder, textarea::placeholder {
    color: #454545;
}


textarea {
    width: 100%;
    max-width: 705px;
    height: 200px;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #454545;
    background-color: #efefef;
    color: #454545;
}

.cont4 {
    width: 100%;
}

textarea:hover,
input:hover {
    border-color: #2F4157;
    cursor: pointer;
}

form button {
    background-color: #2F4157;
    padding: 1em;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.cont5 {
    margin-top: 1em;
    width: 100%;
}

form button:hover {
    background-color: #485A70;
}
  


@media (max-width: 768px) {
    .cont {
        padding: 2em 1em;
    }

    .cont1 {
        margin-bottom: 3em;
    }

    form {
        width: 100%;
    }

    .cont2 {
        gap: 5%;
    }

    input {
        max-width: 85%;
    }

    textarea {
        max-width: 92%;
    }
}