
  
  .dashboard h2 {
    margin-bottom: 20px;
  }
  
  .overview {
    display: flex;
    justify-content: space-between;    
    margin-bottom: 20px;
    padding: 30px 0;
    border-top: 1px solid #00000033;
    border-bottom: 1px solid #00000033;
  }
  
  .lists {
    border: 1px solid #2F415738;
    padding: 10px 10px 0 10px;
    border-radius: 10px;
    width: 270px;
  }

  .group {
    display: flex;
    justify-content: space-between;  
 }

  .back {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cv4 {
    display: flex;
    padding: 6px 15px;
    border: 1px solid #454545;
    border-radius: 50px;
    height: 20px;
}

.cv4 p {
    margin: 0;
}
  