body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2F4157;
  font-family: 'Open Sans', sans-serif;
  max-width: 2000px;
  padding-top: 90px; 
}

h1, h2, h3,h5 {
  font-family: 'Libre Baskerville', serif;
}

p {
  font-size: 15px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
